/* Base Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

section {
    text-align: center;
}

h1,
h2 {
    margin: 10px 0;
}

p {
    margin: 0 0 10px;
}

/* Navbar section */
/* .navbar{
    max-width: 1400px;
    margin: auto;
    position: relative;
    z-index: 1;
    justify-items: end;
}
.navbar-content{
    display: flex;
    gap: 20px;
} */

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #645a5a;
    font-size: 1rem;
}
a:hover{
    color: black;
    text-decoration: underline;
}
.navbar{
    max-width: 1400px;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar .links{
    display: flex;
    gap: 1.5rem;
    padding-right: 15px;
}
.navbar .toggle_btn{
    color: brown;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 6px;
    display: none;
}
/* .action_btn{
    background-color: orange;
    color: #f4f4f4;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #f4f4f4;
}
.action_btn:active{
    scale: 0.95;
} */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 30px;
    width: 300px;
    height: 0;
    background: white;
    /* backdrop-filter: blur(15px); */
    /* border-radius: 10px; */
    overflow: hidden;
    z-index: 10;
    transition: hight 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 300px;
}
.dropdown_menu i{
    padding-right: 4px;
}
.dropdown_menu li{
    /* padding: 0.3rem; */
    padding-left: 14px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Banner Section */
.banner {
    max-width: 1000px;
    margin: auto;
    font-family: 'Pacifico', cursive;
    background: url('./img/mainImg.jpg') no-repeat center center/cover;
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -55px;
    position: relative; 
}

.banner-content {
    text-align: center;
}

.banner h1 {
    font-size: 2.5rem;
}

.banner p {
    font-size: 1.2rem;
}

/* Vision section */
.vision {
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 35px;
}

/* Message Section */
.message {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */

}

.message-content {
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;

}

.message img {
    flex: 1;
    width: 50%;
    margin-bottom: 50px;
}

.message .text {
    flex: 1;
    width: 100%;
    text-align: left;
    justify-items: center;
    align-content: center;
    background-color: whitesmoke;
    padding: 20px 30px;

}

.message h2 {
    font-size: 2rem;
}

/* Service Section */
.service {
    max-width: 1000px;
    margin: auto;

}

.service-content {
    display: flex;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 80px;
}

.service-content img {
    width: 200px;
}

.service-content p {
    padding: 10px 20px;
}

/* Story and Success Section */
.story-content {
    background: url('./img/bgSec04.jpg') no-repeat center center/cover;
}

.story-success {
    max-width: 1000px;
    margin: auto;
    color: white;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.story,
.success {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 20px;
}

/* Map Section */

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
   
}
.map-content{
    display: flex;
    max-width: 1200px;
    /* flex-wrap: wrap; */
    gap: 30px;
}

.company-info {
    flex: 1;
    /* width: 10%; */
  }
  #map-info{
    flex: 1;
    /* width: 50%; */
    
  }
  #map-info iframe{
    width: 100%;
  }
  
  .info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .label {
    font-weight: bold;
  text-align: right;
  color: #555;
  flex: 1; /* Ensures the label takes equal width in each row */
  margin-right: 50px;
  }
  
  .value {
    text-align: left;
    color: #333;
    flex: 2; 
  }
  #footer{
    padding-top: 30px;
    padding-bottom: 20px;
  }

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
        left: 2rem;
        width: unset;
    }

    .banner{
        height: 100vh;
    }
    .banner h1 {
        font-size: 1.8rem;
    }

    .banner p {
        font-size: 1rem;
    }

    /* vision Section */
    .vision p {
        padding: 10px 20px;
    }

    /* Message Section mobile*/
    .message-content {
        flex-direction: column;
        max-width: 700px;
        margin: 10px;
    }

    #message-content {
        flex-direction: column-reverse;
    }

    .message {
        /* max-width: 300px; */
        flex-direction: column;
        text-align: center;
    }


    .message img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0px;
    }

    .message .text {
        padding: 40px 0px;
    }

    .message .text p {
        padding: 0px 20px;
    }

    /* Service Section mobile*/
    .service-content {
        flex-direction: column;
    }

    .service-content p {
        padding: 10px 40px;
    }

    /* Story and Success Section mobile*/
    .story-success {
        max-width: 900px;
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .story,
    .success {
        margin: 20px 60px;
    }
    .map{
        flex-direction: column;
        text-align: center;
    }
    .map-content{
        flex-direction: column;
        max-width: 700px;
        margin: 10px;
    }
    .company-info{
        /* margin: 10px 30px; */
        width: 100%;
    }
    #map-info{
        width: 100%;
        max-width: 100%;
    }
}